/*
==================================================
* File name: Custom Css
* By: Sunny_toby
* Date: 4/4/2016
==================================================
*/

/* Custom Style in Statistic Page
==================================================
*/
.stats-container {
	background: #EEF1F5 !important;
}
.active, .processing {
	background: #fff !important;
}
.stats-title {
	padding: 20px 0px;
}
.ribbon-content{
	text-align: center;
    border: 1px solid #eee;
    font-size: 60px;
    padding: 12px 0px !important;
    color: #ED6B75;
    font-weight: bold;
}

.campaign-sent{
	text-align: center;
    vertical-align: middle !important;
    font-size: 60px !important;
    font-weight: bold;
}
.campaign-not-sent {
	padding-bottom: 10px;
}

/* Custom Style in SMS Campaign Page
==================================================
*/
.sms-campaign{
	color: #ED6B75 !important;
}
#sample_1_info{
	padding-top: 20px;
}
#sample_1_paginate, #sample_1_filter{
	float: right;
}
.edit-delete-buttons {
	text-align: center;
}
.campaign-name{
	margin: 10px 0px;
}
.campaign-bar{
	margin-bottom: 0px !important;
}
.campaign-content{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.fa-info:before {
	font-size: 22px !important;
	vertical-align: top;
  padding: 0px 4px !important;
}
.fa-file-text-o:before {
    font-size: 22px !important;
    vertical-align: top;
}
.fa-user:before {
    vertical-align: top;
    font-size: 22px !important;
}
.fa-send-o:before {
    vertical-align: top;
    font-size: 17px !important;
}
/* Custom Style in Login Page
==================================================
*/
.main-logo{
	max-width: 250px !important;
	width: 100%;
}
.login .content{
	margin-top: 0px !important;
}
.login .logo{
	margin-top: 40px !important;
}
.dashboard-logo{
	max-width: 100px;
	width: 100%;
	margin: 20px 0px 0px 10px;
}
@media (min-width: 992px){
	.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .dashboard-logo {
	    display: none !important;
	}
}
@media (min-width: 992px){
	.page-sidebar-menu.page-sidebar-menu-compact.page-sidebar-menu-hover-submenu li:hover>a>.arrow, .page-sidebar-menu.page-sidebar-menu-compact.page-sidebar-menu-hover-submenu>li:hover>a>.arrow {
	    margin-top: -25px !important;
	}
}

.dashboard-icon{
	margin-right: 7px;
	vertical-align: middle;
}
.page-header.navbar .page-logo{
	background: #1f2b3d !important;
}
.actions-bar-stats{
	float: left !important;
}
.dashboard-stat2 .display .number{
	float: none !important;
}
.font-green-sharp, .font-red-haze, .font-blue-sharp, .font-purple-soft {
	text-align: center !important;
	text-transform: uppercase;
}
.dashboard-stat2, .dashboard-stat2 .display {
    text-align: center;
}
.percentage{
	font-size: 45px;
	color: #757575;
	margin: -24px;
}
.user-admin-details{
	height: 100px !important;
}
.user-details, .user-details2{
	border-bottom: 1px solid #eef1f5 !important;
	padding: 10px;
}
.user-details2{
	padding-top: 10px;
}
.user-label{
	text-transform: uppercase;
	font-size: 16px;
	color: #6c6c6c;
}
.user-name, .user-email{
	color: #6c6c6c;
	font-size: 16px;
}
.help-icons{
	text-align: center;

}
.help-portlet-content{
	height: 85px;
}
.admin-user, .help-portlet{
	margin-bottom: 0px !important;
}
.user-admin-details, .help-portlet-content{
	padding-top: 0px !important;
}
.help-content{
	padding-top: 8px;
}
.account-about{
	border-top: 1px solid #eee;
	padding: 10px 14px 10px 25px;
}
.profile-usertitle-name{
	text-transform: uppercase;
}
.portlet>.portlet-title>.nav-tabs{
	float: left !important;
}
.actions{
	text-align: center;
}
.space{
	padding-left: 5px;
	padding-right: 5px;
}
.ribbon-content-inside{
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 1px;
}
.ribbon-content-inside h3{
	    padding: 35px 28px 20px 30px;
}
.need-to-send-counter{
	margin: 0px 35px 35px 35px;
	padding: 20px;
	text-align: center;
	border: 1px solid #E8E8E8;
}
.need-to-send{
	font-size: 80px;
	font-weight: 700;
	color: #ED6B75;
}
.table-sent-count{
	margin-bottom: 0px !important;
}
.table-status{
	width: 87%;
	margin: 0 auto;
	border: 1px solid #e8e8e8;
	margin-bottom: 34px;
}
.td-status{
  border-right: 1px solid #e8e8e8;
  font-weight: bold;
	font-size: 20px !important;
	color: #666;
}
.td-status-count{
}
#sent-count{
	text-align: center;
	vertical-align: middle;
	font-size: 80px;
	font-weight: 700;
  padding: 20px 0px;
}

/*
-------------------------------------------------------------------------------
	Preview Chat
-----------------------------------------------------------------------------*/
.preview{
	margin: 0 auto;
	text-align: center;
	background: url("images/phone.png") no-repeat;
	width: 250px;
	height: 450px;;
}
.preview-message{
	padding-top: 80px;
	padding-left: 18px;
	padding-right: 26px;
}
/*
.message{
	background: #fff;
	border: 1px solid #efefef;
	border-radius: 7px !important;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
} */

.message{
	background-color: #F2F2F2;
	border-radius: 5px !important;
	box-shadow: 0 0 6px #B2B2B2;
	display: inline-block;
	padding: 6px 9px;
	position: relative;
	vertical-align: top;
	text-align: left;
	padding-left: 16px;
}

.message::before {
	background-color: #F2F2F2;
	content: "\00a0";
	display: block;
	height: 14px;
	position: absolute;
	top: 135px;
	margin-right: 21px;
	transform: rotate( 29deg ) skew( -35deg );
	-moz-transform: rotate( 29deg ) skew( -35deg );
	-ms-transform: rotate( 29deg ) skew( -35deg );
	-o-transform: rotate( 29deg ) skew( -35deg );
	-webkit-transform: rotate( 86deg ) skew( -35deg );
	width: 20px;
}

.you::before {
	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
	right: -9px;
}
