/*
==================================================
* File name: Custom Css
* By: Sunny_toby
* Date: 4/4/2016
==================================================
*/

/* Custom Style in Statistic Page
==================================================
*/
.stats-container {
	background: #EEF1F5 !important;
}
.active, .processing {
	background: #fff !important;
}
.stats-title {
	padding: 20px 0px;
}
.ribbon-content{
	text-align: center;
    border: 1px solid #eee;
    font-size: 60px;
    padding: 12px 0px !important;
    color: #ED6B75;
    font-weight: bold;
}

.campaign-sent{
	text-align: center;
    vertical-align: middle !important;
    font-size: 60px !important;
    font-weight: bold;
}
.campaign-not-sent {
	padding-bottom: 10px;
}

/* Custom Style in SMS Campaign Page
==================================================
*/
.sms-campaign{
	color: #ED6B75 !important;
}
#sample_1_info{
	padding-top: 20px;
}
#sample_1_paginate, #sample_1_filter{
	float: right;
}
.edit-delete-buttons {
	text-align: center;
}
.campaign-name{
	margin: 10px 0px;
}
